<!DOCTYPE html>
<html>
<head>
	<title>Catalog App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<header>
		<div class="headerBox">
			<div class="headerText"><a href="#"><h1>Catalog App</h1></a></div>
			<div class="loginButton"><a href="#">Login</a></div>
		</div>
	</header>
	<main>
		<div class="mainBox">
			<section class="itemView">
				<div class="itemTitle">
					<h2>{% if new %}New Item{% else %}Edit Item{% endif %}</h2>
				</div>
				<div class="itemForm">
					<form action="#" method="{% if new %}post{% else %}put{% endif %}">
						<label for="title">Title</label>
						<input type="text" name="title" id="title" required="true"/>
						<label for="description">Description</label>
						<input type="text" name="description" id="description" required="true"/>
						<label for="category">Title</label>
						<select name="category" id="category">
							<option value="cat1">Category1</option>
							<option value="cat2">Category2</option>
							<option value="cat3">Category3</option>
							<option value="cat4">Category4</option>
						</select> 
						<input type="submit" value="Submit"/>
					</form>
				</div>
			</section>
		</div>		
	</main>
</body>
</html>