<!DOCTYPE html>
<html>
<head>
	<title>Catalog App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	{% include "header.html" %}
	<main>
		<div class="mainBox">
			<section class="itemView">
				<div class="itemTitle">
					<h2>{% if new %}New Item{% else %}Edit Item{% endif %}</h2>
				</div>
				<div class="itemForm">
					<form action="#" method="post">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" required="true" value="{{item.name }}"/>
						<label for="description">Description</label>
						<input type="text" name="description" id="description" required="true" value="{{item.description}}"/>
						<label for="category">Category</label>
						<select name="category_id" id="category_id">
						{% for category in categories %}
							<option value="{{category.id}}" {% if not new and category.id == item.category.id %}selected{% endif %}>{{category.title}}</option>
						{% endfor %}
						</select> 
						<input type="submit" value="Submit"/>
					</form>
				</div>
			</section>
		</div>		
	</main>
</body>
</html>