<!DOCTYPE html>
<html>
<head>
	<title>Catalog App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	{% include "header.html" %}
	<main>
		<div class="mainBox">
			<section class="categories">
				<div class="categoriesTitle">
					<h2>Categories</h2>
				</div>
				<div class="categoriesList">
					<ul>
					{% for category in categories %}
						<li class="category"><a href="{{url_for('getCategory', category = category.title)}}">{{category.title}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</section>
			<section class="items">
				<div class="addItemButton">
					{%if 'username' in session %}
					<a href="{{url_for('newItem')}}">Add Item</a>
					{% endif %}
				</div>
				<div class="itemsTitle">
					<h2>{% if selectedCategory %}{{selectedCategory}} Items ({{items|length}} items){% else %}Lastest Items{% endif %}</h2>
				</div>
				<div class="itemList">
					<ul>
					{% for item in items %}
						<li class="item"><a href="{{url_for('getItem', category = item.category.title, item = item.name)}}">{{item.name}}</a> <span class="itemCategory">({{item.category.title}})</span></li>
					{% endfor %}
					</ul>
				</div>
			</section>
		</div>		
	</main>
</body>
</html>